/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

img{
    cursor: pointer;
} */

/* .side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
} */